body{
  background-color: #D30000;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome_title h1{
  margin: 0 auto;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-size: 140px;
}

.welcome_title i,h1{
  text-align: left;
}

.welcome_title p{
  text-align: right;
}
